<html>
<head>
  <title>Jawsh - Countr</title>
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans|VT323" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
  <div id="countr">
    <div id="output">
      <div v-if="comments.length == 0">
        No data
      </div>
      <div id="chart-wrapper">
        <canvas id="chart" width="250" height="250"></canvas>
      </div>
    </div>

    <div id="inputs">
      <input id="accessToken" v-model="accessToken" placeholder="Access Token">
      <input id="pageId" v-model="pageId" placeholder="Page ID">
      <input id="postId" v-model="postId" placeholder="Post ID">
      <input id="filters" v-model="filters" placeholder="Hashtag Filters">
      <button type="button" id="update" @click="buttonClick">Update</button>
    </div>
  </div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/ramda/0.25.0/ramda.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  <script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script type="text/javascript" src="script.js"></script>
</body>
