<html>
<head>
  <title>Jawsh - Countr</title>
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans|VT323" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
  <div id="countr">
    <div id="output">
      <ul v-if="comments.length > 0">
        <li v-for="comment in comments">
          {{ comment }}
        </li>
      </ul>
      <div v-if="comments.length == 0">
        No data
      </div>
    </div>

    <div id="inputs">
      <input id="postId" v-model="postId">
      <input id="filters" v-model="filters">
      <button type="button" id="update" @click="buttonClick">Update</button>
    </div>
  </div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/ramda/0.25.0/ramda.min.js"></script>
  <script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script type="text/javascript" src="script.js"></script>
</body>
